@CHARSET "UTF-8";
body {
  margin:0px;
  padding-bottom:30px;
  padding-left:5px;
  padding-right:5px;
  font-family:monospace;
}

#header {
  position:fixed;
  left:0px;
  width:100%;
  height:50px;
  font-size:35px;
  line-height:40px;
  background:#555555;
  font-family:"Arial Black", Gadget, sans-serif;
  text-align:center;
  box-shadow:0px 0px 20px #888888;
}

#inputdiv {
  background:black;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  line-height:30px;
  width:100%;
  font-family:monospace;
  color: white;
}

#inputdiv input[type='text'] {
  width:100%;
  font-family:monospace;
  color: white;
  background: black;
  border: 0;
  outline: none
}
#inputdiv #inputwrapper {
  display: block;
  overflow: hidden;
  padding-right:10px;
}