@charset "UTF-8";

body {
  margin: 0;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: monospace;
}

#header {
  position: fixed;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  background: #555555;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  box-shadow: 0 0 20px #888888;
  text-shadow: 0 0 5px #c0c0c0;
  background: -webkit-radial-gradient(circle,#777777, #333333); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(circle,#777777, #333333); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle,#777777, #333333); /* For Firefox 3.6 to 15 */
  background: radial-gradient(circle,#777777, #333333); /* Standard syntax */
}

#inputdiv {
  background: black;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-family: monospace;
  color: white;
}

#inputdiv input[type='text'] {
  width: 100%;
  font-family: monospace;
  font-size: inherit;
  color: white;
  background: black;
  border: 0;
  outline: none
}
#inputdiv #inputwrapper {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}
